<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/mayCrip/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="mayCrip" />
            <add key="ClearTextPassword" value="*" />
        </github>
    </packageSourceCredentials>
</configuration>
